html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box
}

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit
}

body {
	font-family: "Roboto", Arial, sans-serif
}

.visually-hidden {
	position: absolute;
	margin: -1px;
	width: 0;
	height: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0)
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px
}

.slider-title {
	margin-bottom: 26px;
	margin-top: 0;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000
}

.service h3 {
	margin: 20px 0 18px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase
}

.site-navigation a, .busket a {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none
}

.site-navigation a:hover, .busket a:hover, .site-navigation a:focus, .busket a:focus {
	color: #fb565a
}

.site-navigation a:active, .busket a:active {
	color: #000;
	opacity: 0.3
}

.slider-text p, .service p, .about p, .about li {
	font-size: 16px;
	line-height: 24px;
	color: #283136
}

.button {
	margin-top: 24px;
	background-color: #fb565a;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase
}

.button:hover, .button:focus {
	background-color: #e74246
}

.button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3)
}

.about b, .form h2 {
	font-size: 45px;
	line-height: 45px;
	color: #000;
	font-weight: 500
}

.about h3, .about-2 p {
	font-size: 16px;
	line-height: 24px;
	color: #000;
	text-transform: uppercase;
	font-weight: 700
}

.about-2 th {
	font-size: 45px;
	color: #000;
	font-weight: 700
}

.about-2 td {
	padding-top: 12px;
	font-size: 16px;
	line-height: 18px;
	color: #283136
}

.footer-contacts p {
	margin: 25px 0;
	font-size: 16px;
	line-height: 18px;
	color: #666666
}

.footer-contacts b {
	font-size: 18px;
	line-height: 30px;
	color: #000;
	text-transform: uppercase
}

.footer-text b {
	font-size: 36px;
	line-height: 36px;
	color: #000
}

.footer-text p {
	margin-top: 4px;
	font-size: 16px;
	line-height: 22px;
	color: #444444
}

.form label {
	font-size: 16px;
	line-height: 18px;
	color: #000;
	font-weight: 700
}

.form input {
	font-size: 16px;
	line-height: 18px;
	color: #444;
	font-weight: 400
}

.form input::-webkit-input-placeholder {
	font-size: 16px;
	line-height: 18px;
	color: #444;
	font-weight: 400
}

.form input:-ms-input-placeholder {
	font-size: 16px;
	line-height: 18px;
	color: #444;
	font-weight: 400
}

.form input::placeholder {
	font-size: 16px;
	line-height: 18px;
	color: #444;
	font-weight: 400
}

.form input:hover, .form input:focus {
	border-color: #b4b9bb
}

.form input:active {
	border-color: #000;
	color: #000
}

.form .invalide {
	border-color: #e74246;
	color: #e74246
}

.main-header, .slider {
	background-color: #eeeeee
}

.button-green {
	background-color: #00ca74
}

.button-green:hover, .button-green:focus {
	background-color: #00bc6c
}

.button-green:active {
	background-color: #00aa62
}

.button-yellow {
	background-color: #efc849
}

.button-yellow:hover, .button-yellow:focus {
	background-color: #eab534
}

.button-yellow:active {
	background-color: #e5a722
}

.social-button {
	background-color: #e1e1e1;
	width: 79px;
	height: 79px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 100%;
	margin-right: 12px
}

.social-button:hover, .social-button:focus {
	background-color: #e74246
}

.social-button:active {
	background-color: #d7373b
}

.social-button:active img {
	opacity: 0.3
}

.footer-contacts, .form {
	background-color: #fff
}

.partners-list a {
	opacity: 0.2
}

.partners-list a:hover, .partners-list a:focus {
	opacity: 1
}

.partners-list a:active {
	opacity: 0.1
}

.logo:hover, .logo:focus {
	opacity: 0.8
}

.logo:active {
	opacity: 0.3
}

.main-header-title {
	margin: 0;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000
}

.true {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 47px
}

.filter-price2 .true {
	margin-bottom: 1px
}

.filter fieldset {
	margin: 0;
	padding: 0;
	border: none
}

.filter-option label {
	display: block;
	padding-left: 36px;
	position: relative;
	margin-bottom: 25px;
	padding-top: 2px
}

.properties label::before {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	content: "";
	width: 26px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	background-position: left center;
	background-repeat: no-repeat;
	opacity: 0.4;
}

.properties input:checked + label::before {
	display: block;
	content: "";
	width: 26px;
	height: 23px;
	background-image: url("../img/checkbox-on.svg");
	background-position: left center;
	opacity: 0.4;
}
.properties label:hover::before, .properties input:checked + label:hover::before {
	opacity: 1;
}
.filter-option {
	margin-bottom: 19px;
	font-size: 16px;
	line-height: 20px;
	color: #283136
}

.filter-button {
	margin-top: 27px;
	text-align: center;
	border-radius: 2px;
	border: none;
	font-size: 16px;
	font-weight: 500;
	width: 100%;
	padding: 16px 10px;
	background-color: #eeeeee;
	color: #000;
	font-family: "Roboto", Arial, sans-serif
}

.filter-button:hover, .filter-button:focus {
	background-color: #dfdfdf
}

.filter-button:active {
	background-color: #d5d5d5
}

.sort-option {
	margin-top: 5px;
	margin-right: 32px;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	text-transform: uppercase
}

.from-to {
	font-size: 16px;
	line-height: 22px;
	color: #283136;
	text-transform: uppercase
}

.pagination-item {
	font-size: 16px;
	line-height: 18px;
	color: #000;
	text-transform: uppercase;
	margin-right: 8px
}

.pagination-item--next {
	margin-left: 6px
}

.pagination-item a {
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	color: #000;
	display: block;
	border-radius: 3px;
	background-color: #dbdbdb;
	padding: 16px 20px 16px 23px
}

.pagination-item a:hover, .pagination-item a:focus {
	background-color: #dfdfdf
}

.pagination-item a:active {
	color: #959595;
	background-color: #d5d5d5;
	-webkit-box-shadow: inset 0 3px 0 0 #bfbfbf;
	        box-shadow: inset 0 3px 0 0 #bfbfbf
}

.catalog-item-info-title {
	font-size: 18px;
	line-height: 30px;
	color: #000;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none
}

.catalog-item-info {
	background-color: #eeeeee;
	max-height: 231px;
	overflow-y: auto
}

.site-title {
	max-width: 240px;
	margin: 18px auto;
	font-size: 16px;
	line-height: 18px;
	color: #666
}

.main-navigation, .site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between
}

.site-navigation {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.site-navigation, .busket, .partners-list, .footer-social-list, .catalog-list, .pagination-list, .sort-list, .properties, .filter-grid {
	margin: 0;
	padding: 0;
	list-style: none
}

.footer-social-list {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.site-navigation li {
	margin: 0 23px
}

.shop, .partners-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between
}

.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.partners-list {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center
}

.main-footer .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.map {
	overflow: hidden;
	height: 416px;
	position: relative
}

.map img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	z-index: -1
}

.map iframe {
	position: absolute;
	left: 0;
	right: 0
}

.map .container {
	position: relative;
	z-index: 1
}

.footer-contacts {
	position: absolute;
	left: 20;
	top: 54px;
	padding: 47px 50px;
	width: 320px
}

.footer-contacts p:nth-child(1) {
	margin-top: 0
}

.slide, .slider-radio {
	display: none
}

#i1:checked ~ .slider .slide-1, #i2:checked ~ .slider .slide-2, #i3:checked ~ .slider .slide-3 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.slider-pagination label {
	position: relative;
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 100%;
	display: block;
	margin: 0 8px
}

.slider-pagination {
	bottom: 95px;
	z-index: 1;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	left: 50%;
	bottom: 96px;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%)
}

.footer-social-list {
	width: 400px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.catalog-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between
}

.filter {
	width: 260px
}

.right-column {
	width: 760px
}

.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap
}

.catalog-list li {
	width: 360px;
	margin-bottom: 28px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center
}

.sort, .sort-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center
}

.sort {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 55px
}

.catalog-item {
	position: relative
}

.catalog-item-info {
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
	width: 100%;
	padding: 35px 35px 43px;
	text-align: center
}

.catalog-item:hover .catalog-item-info {
	display: block
}

.pagination-list {
	margin-top: 28px;
	margin-bottom: 58px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.filter-grid label {
	padding-left: 36px;
	position: relative
}

.filter-grid label::before {
	position: absolute;
	display: block;
	content: "";
	width: 25px;
	height: 25px;
	left: 0;
	top: 0;
	border: 4px solid #a6a6a6;
	border-radius: 100%
}

.filter-grid input:disabled + label::before {
	display: none
}

.filter-grid input:checked + label::after {
	position: absolute;
	display: block;
	content: "";
	width: 9px;
	height: 9px;
	left: 8px;
	top: 8px;
	background: #a6a6a6;
	border-radius: 100%
}
.filter-grid label:hover::before {
	border-color: #4d4d4d;
}
.filter-grid input:checked + label:hover::after {
	background-color: #4d4d4d;
}
.filter-grid label {
	margin: 12px 0;
	display: block
}

.main-header {
	padding: 49px 0
}

.slide .button {
	position: relative; 
	z-index: 1;
	margin-top: 40px;
	padding-top: 3px;
	text-decoration: none;
	display: table;
	padding: 16px 53px;
	border-radius: 2px
}

.slider {
	padding-bottom: 13px;
	margin-top: -41px;
	margin-bottom: 80px;
	position: relative
}

#i1:checked ~ .slider label:nth-child(1)::before, #i2:checked ~ .slider label:nth-child(2)::before, #i3:checked ~ .slider label:nth-child(3)::before {
	position: absolute;
	display: block;
	width: 8px;
	height: 8px;
	border: 2px solid #c1c1c1;
	border-radius: 100%;
	content: "";
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%)
}

.service .button {
	margin-top: 15px;
	border: none;
	padding: 16px 40px;
	border-radius: 2px
}

.shop {
	border-bottom: 2px solid #eee;
	padding-bottom: 80px;
	margin-bottom: 41px
}

.wrapper {
	border-bottom: 2px solid #eee;
	padding-bottom: 37px
}

.partners {
	border-bottom: 2px solid #eee;
	padding: 48px 0 37px;
	margin-bottom: 80px
}

.partners li {
	width: 262px;
	position: relative;
	text-align: center
}

.partners li::after {
	position: absolute;
	content: "";
	display: block;
	width: 2px;
	height: 51px;
	background-color: #eee;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	right: -20px;
	top: 50%
}

.partners li:last-child::after {
	display: none
}

.order-list {
	padding: 0px;
	list-style: none
}

.order-list li {
	position: relative;
	padding-left: 36px;
	padding-top: 8px;
	padding-bottom: 18px
}

.order-list li::before {
	position: absolute;
	left: 0;
	top: 18px;
	display: block;
	content: "";
	width: 25px;
	height: 2px;
	background-color: #fb565a
}

.about h3 {
	margin-top: 36px
}

.about b {
	margin-top: 33px;
	margin-bottom: 35px;
	display: block
}

.footer-button {
	margin-top: 30px;
	text-decoration: none;
	border-radius: 2px;
	width: 219px;
	height: 50px;
	display: block;
	padding: 16px 10px;
	text-align: center
}

.main-footer {
	padding: 69px 0
}

.form {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, top 0.5s;
	transition: opacity 0.5s, top 0.5s;
	width: 960px;
	position: fixed;
	left: 50%;
	top: 80%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	z-index: 1;
	padding: 80px 100px
}

.form.visible {    /*для всплывающего окна анимация*/
	top: 50%;
	visibility: visible;
	opacity: 1
}

.form h2 {
	margin: 0 0 14px
}

.button-modal-close {
	position: absolute;
	right: 90px;
	top: 78px;
	width: 21px;
	height: 21px;
	background-image: url("../img/close-cross.svg");
	border: none;
	background-color: transparent;
	opacity: 0.3
}

.button-modal-close:hover, .button-modal-close:focus {
	opacity: 1
}

.button-modal-close:active {
	opacity: 0.1
}

.login-form {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap
}

.login-form .full-weight {
	width: 100%
}

.login-form label {
	margin-top: 36px;
	width: 360px
}

.form input, .form textarea {
	display: block;
	margin-top: 13px;
	border: 2px solid #d7dcde;
	border-radius: 2px;
	padding: 14px;
	width: 100%
}

.login-form .button {
	text-decoration: none;
	border: none;
	border-radius: 2px;
	width: 260px;
	height: 50px;
	display: block;
	padding: 16px 10px;
	text-align: center;
	margin-top: 47px
}

.form textarea {
	height: 118px;
	resize: none
}

.busket a {
	position: relative
}

.busket a::before {
	content: "";
	background-image: url("../img/cart-icon.svg");
	position: absolute;
	display: block;
	width: 15px;
	height: 15px;
	left: -42px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%)
}

.slider-text {
	width: 515px
}

.slide {
	padding: 66px 0;
	position: relative
}

.slide img {
	bottom: -13px;
	position: absolute;
	right: 31px
}

.slide p {
	max-width: 360px
}

.catalog-button {
	display: block;
	text-decoration: none;
	border: none;
	border-radius: 2px;
	width: 200px;
	margin: 0 auto;
	padding: 16px 5px
}

.site-navigation {
	margin-right: 83px;
	margin-top: 15px
}

.busket {
	margin-top: 10px
}

.sort a {
	font-size: 14px;
	color: #000;
	text-decoration: none;
	opacity: 0.3
}

.sort a:hover, .sort a:focus {
	opacity: 0.6
}

.sort a:active {
	opacity: 1
}

.sort-button {
	margin-left: 2px;
	background: none;
	border: 0
}

.sort-button svg {
	fill: #ededed
}

.sort-button:hover svg, .sort-button:focus svg {
	fill: #a6a6a6
}

.sort-button:active svg {
	fill: #000
}

.sort p {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700px;
	margin: 0
}

.catalog-item-header {
	padding: 14px 41px 13px;
	position: relative;
	background-color: #e9e9e9;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

.catalog-item-header span {
	display: block;
	width: 14px;
	height: 14px;
	background-color: #fff;
	border-radius: 100px;
	position: relative
}

.catalog-item-header span:before, .catalog-item-header span:after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	background-color: #fff;
	border-radius: 100px;
	position: absolute;
	top: 0
}

.catalog-item-header span:before {
	left: -23px
}

.catalog-item-header span:after {
	right: -23px
}

.catalog-item:hover .catalog-item-header {
	background-color: #4d4d4d
}

.catalog-item:hover {
	-webkit-box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
	        box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25)
}

.pagination-item.current a {
	background-color: #fff;
	-webkit-box-shadow: inset 0 0 0 3px #dbdbdb;
	        box-shadow: inset 0 0 0 3px #dbdbdb
}

.catalog-item img {
	border: 1px solid #e9e9e9
}

.catalog-item:hover img {
	border-top-color: #4d4d4d
}

.header2 {
	margin: 0;
	text-align: center;
	padding: 25px 0 108px;
	background-color: #eee;
	margin-bottom: 56px
}

.active-menu {
	position: relative
}

.active-menu:after {
	width: 100%;
	height: 2px;
	background-color: #fb565a;
	left: 0;
	bottom: -3px;
	position: absolute;
	display: block;
	content: ""
}

.price {
	position: relative;
	background-color: #eee;
	padding: 39px 21px 39px 18px;
	margin-bottom: 14px
}

.line {
	position: relative;
	width: 219px;
	height: 2px;
	background-color: #00ca74
}

.line::after {
	position: absolute;
	display: block;
	content: "";
	width: 70px;
	height: 2px;
	right: 0;
	top: 0;
	background-color: #d7dcde
}

.circle {
	width: 20px;
	height: 20px;
	position: absolute;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 2px 1px #cfcfcf;
	        box-shadow: 0 1px 2px 1px #cfcfcf;
	border-radius: 100%;
	top: 30px;
	z-index: 1
}

.circle::before {
	width: 4px;
	height: 4px;
	border-radius: 100%;
	position: absolute;
	display: block;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	content: "";
	background-color: #ababab
}

.circle-left {
	left: 18px
}

.circle-right {
	left: 160px
}

.from-to span {
	margin-right: 10px
}

.from-to input {
	background-color: #eee;
	border-radius: 3px;
	border: none;
	width: 80px;
	text-align: center;
	padding: 10px 0 10px 15px
}

.from-to:first-of-type {
	margin-right: 32px
}

fieldset.filter-price {
	margin-bottom: 54px
}

fieldset.filter-price2 {
	margin-bottom: 25px
}

.filter-price3 .true {
	margin-bottom: 14px
}

.filter-price3 label {
	margin-bottom: 0
}

input.visually-hidden:focus + label {
	outline: 1px solid #68b2d5;
}

.shop .service {
	width: 360px
}

.about {
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	width: 800px
}

.about-2 p {
	margin-top: 31px;
	padding-left: 17px;
	margin-bottom: 36px
}

.pagination-item--next a {
	padding: 16px 75px
}
.form input:hover, .form textarea:hover {
	border-color: #b4b9bb;
}
.form input:focus, .form textarea:focus {
	border-color: #000;
	outline: none;
}
.map iframe {
	width: 100%;
}
.error {
	-webkit-animation: error 0.25s;
	        animation: error 0.25s;
}
@-webkit-keyframes error {
	0%, 50%, 100%{
		left: 50%;
	}
	25%{
		left: 51%;
	}
	75%{
		left: 49%;
	}
}
@keyframes error {
	0%, 50%, 100%{
		left: 50%;
	}
	25%{
		left: 51%;
	}
	75%{
		left: 49%;
	}
}