@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
body{
	font-size: 16px;
	font-family: "Roboto", Arial, sans-serif;
	line-height: 24px;
	color: #283136;
}
.slider-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}
.service h3{
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}