@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}
body{
	font-family: "Roboto", Arial, sans-serif;
}
.visually-hidden {
	position: absolute;
	margin: -1px;
	width: 0;
	height: 0;
	overflow: hidden;
	clip:rect(0,0,0,0);
}
.container {
	width:1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px; /*для того, чтоб не было впритык контента к окну*/
	padding-right: 20px;
}	
.slider-title {
	margin-top: 0;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}
.service h3{
	margin: 30px 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}
.site-navigation a, .busket a{
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
}
.site-navigation a:hover, .busket a:hover, /*при наведении*/
.site-navigation a:focus, .busket a:focus{
	color:#fb565a;
}
.site-navigation a:active, .busket a:active { /*при нажатии*/
	color:#000;
	opacity:0.3; /*прозрачность*/
	/*color:rgba(0,0,0,0.3)*/
}
.slider-text p, .service p, .about p, .about li{
	font-size:16px;
	line-height: 24px;
	color: #283136;
}
.button{
	background-color: #fb565a;
	font-size:16px;
	line-height:18px;
	color:#ffffff;
	text-transform: uppercase;
}
.button:hover, .button:focus {
	background-color: #e74246;
}
.button:active {
	background-color: #d7373b;
	color:rgba(255,255,255,0.3);
}
.about b, .form h2{
	font-size: 45px;
	line-height: 45px;
	color:#000;
	font-weight: 500;
}
.about h3, .about-2 p{
	font-size:16px;
	line-height:24px;
	color: #000;
	text-transform: uppercase;
	font-weight: 700;
}
.about-2 th{
	font-size: 45px;
	
	color:#000;
	font-weight: 700;
}
.about-2 td{
	font-size: 16px;
	line-height: 18px;
	color:#283136;
}
.footer-contacts p{
	margin: 25px 0;
	font-size: 16px;
	line-height: 18px;
	color:#666666;
}
.footer-contacts b{
	font-size: 18px;
	line-height: 30px;
	color:#000;
	text-transform: uppercase;
}
.footer-text b{
	font-size: 36px;
	line-height: 36px;
	color:#000;
}
.footer-text p{
	font-size: 16px;
	line-height: 22px;
	color:#444444;
}
.form label {
	font-size: 16px;
	line-height: 18px;
	color:#000;
	font-weight: 700;
}
.form input {
	font-size: 16px;
	line-height: 18px;
	color:#444;
	font-weight: 400;
}
.form input::placeholder {
	font-size: 16px;
	line-height: 18px;
	color:#444;
	font-weight: 400;
}
.form input:hover, .form input:focus{
	border-color: #b4b9bb;
}
.form input:active{
	border-color: #000;
	color:#000;
}
.form .invalide{
	border-color: #e74246;
	color:#e74246;
}
.main-header, .slider {
	background-color: #eeeeee;
}
.service-2 .button {
	background-color:#00ca74;
}
.service-2 .button:hover, .service-2 .button:focus {
	background-color:#00bc6c;
}
.service-2 .button:active {
	background-color:#00aa62;
}

.service-3 .button {
	background-color:#efc849;
}
.service-3 .button:hover, .service-3 .button:focus {
	background-color:#eab534;
}
.service-3 .button:active {
	background-color:#e5a722;
}
.social-button {
	background-color:#e1e1e1;
	width: 79px;
	height: 79px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	border-radius: 100%;
 	margin-right: 13px;
}
.social-button:hover, .social-button:focus {
	background-color:#e74246;
}
.social-button:active {
	background-color:#d7373b;
}
.social-button:active img {
	opacity:0.3;	
}
.footer-contacts, .form {
	background-color:#fff;
}
.partners-list a{
	opacity:0.2;
}
.partners-list a:hover, .partners-list a:focus{
	opacity:1;
}
.partners-list a:active{
	opacity:0.1;
}
.logo:hover, .logo:focus {
	opacity: 0.8;
}
.logo:active {
	opacity: 0.3;
}

/*Стили SHOP*/
.main-header-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000;
}
.true {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
}
.filter-option {
	font-size: 16px;
	line-height: 20px;
	color: #283136;
}
.filter-button {
	background-color: #eeeeee;
	color:#000;
}
.filter-button:hover, .filter-button:focus {
	background-color:#dfdfdf;
}
.filter-button:active {
	background-color:#d5d5d5;
}
.sort-option {
	font-size: 14px;
	line-height: 18px;
	color: #000;
	text-transform: uppercase;
}
.from-to {
	font-size: 16px;
	line-height: 22px;
	color: #283136;
	text-transform: uppercase;
}
.pagination-item {
	background-color: #eeeeee;
	font-size:16px;
	line-height:18px;
	color:#000;
	text-transform: uppercase;
}
.catalog-item-info-title {
	font-size:18px;
	line-height:30px;
	color:#000;
	text-transform: uppercase;
	font-weight: 700;
}
.catalog-item-info {
	background-color: #eeeeee;
}
.site-title {
	font-size:16px;
	line-height:18px;
	color:#666;
}
.main-navigation, .site-navigation {
	display: flex;
    align-items: center;
    justify-content: space-between; /* прижимает первый и последний элементы к краям*/
}
.site-navigation, .busket, .partners-list, .footer-social-list, .catalog-list, .pagination-list, .sort-list,
.properties, .filter-grid {
	margin: 0;
	padding: 0;
	list-style: none; /*убирает точки у списка*/
}
.site-navigation li {
	margin: 0 23px;
}
.shop, .partners-list {
	display: flex;
    justify-content: space-between;
}
.wrapper {
	display: flex;
}
.partners-list {
	align-items: center;
}
.main-footer .container {
	display: flex;
}
.map {
	height: 416px;
	position: relative;
}
.map img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	z-index: -1;
}
.map iframe {
	position: absolute;
	left: 0;
	right: 0;
}
.map .container {
	position: relative;
	z-index: 1;
}
.footer-contacts {
	position: absolute;
	left: 0;
	top:54px;
	padding: 47px 50px;
	width: 320px;
}
.footer-contacts p:nth-child(1) {
	margin-top: 0;
}
.slide, .slider-radio {
	display: none;
}
#i1:checked ~ .slider .slide-1, #i2:checked ~ .slider .slide-2, #i3:checked ~ .slider .slide-3 {
	display: flex;
}
.slider-pagination label {
	position: relative;
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 100%;
	display: block;
	margin: 0 8px;
}
.slider-pagination {
	position: absolute;
	display: flex;
	justify-content: center;
	left: 50%;
	bottom: 96px;
	transform: translateX(-50%);
}
.footer-social-list {
	width: 400px;
	display: flex;
}
.catalog-wrapper {
	display: flex;
	justify-content: space-between;
}
.filter {
	width: 260px;
}
.right-column {
	width: 760px;
}
.catalog-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.catalog-list li {
	width: 360px;
}
.sort, .sort-list {
	display: flex;
}
.sort {
	justify-content: space-between;
}
.catalog-item {
	position: relative;
}
.catalog-item-info {
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
	width: 100%
}
.catalog-item:hover .catalog-item-info {
	display: block;
}
.pagination-list {
	display: flex;
}
.filter-grid label {
	padding-left: 36px;
	position: relative;
}
.filter-grid label::before {
	position: absolute;
	display: block;
	content: "";
	width: 25px;
	height: 25px;
	left: 0;
	top: 0;
	border: 4px solid #a6a6a6;
	border-radius: 100%
}
.filter-grid input:checked + label::after {
	position: absolute;
	display: block;
	content: "";
	width: 9px;
	height: 9px;
	left: 8px;
	top: 8px;
	background: #a6a6a6;
	border-radius: 100%
}
.filter-grid label{
	margin: 12px 0;
	display: block;
}
.main-header {
	padding: 49px 0;
}
.slide .button {
	text-decoration: none;
	display: table;
	padding: 16px 53px;
	border-radius: 2px;
}
.slider {
	margin-top: -41px;
	margin-bottom: 80px;
	position: relative;

}
#i1:checked ~ .slider label:nth-child(1)::before, #i2:checked ~ .slider label:nth-child(2)::before, #i3:checked ~ .slider label:nth-child(3)::before {
	position: absolute;
	display: block;
	width: 8px;
	height: 8px;
	border:2px solid #c1c1c1;
	border-radius: 100%;
	content: "";
	left: 50%;
	top:50%;
	transform: translate(-50%, -50%);
}
.service .button {
	    border: none;
    	padding: 16px 40px;
    	border-radius: 2px;
}
.shop {
	border-bottom: 2px solid #eee;
	padding-bottom: 80px;
	margin-bottom: 40px;
}
.wrapper {
	border-bottom: 2px solid #eee;
	padding-bottom: 76px;
}
.partners {
	border-bottom: 2px solid #eee;
	padding: 55px 0 45px;
	margin-bottom: 80px;
}
.partners li {
	width: 25%;
	position: relative;
	text-align: center;
}
.partners li::after {
	position: absolute;
	content: "";
	display: block;
	width: 2px;
	height: 51px;
	background-color: #eee;
	transform: translateY(-50%);
	left: 100%;
	top: 50%;
}
.partners li:last-child::after {
	display: none;
}
.order-list {
	padding: 0px;
	list-style: none;
}
.order-list li {
	position: relative;
	padding-left: 36px;
	padding-top: 18px;
	padding-bottom: 18px;
}
.order-list li::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	content: "";
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}
.about h3 {
	margin-top: 19px;
}
.about b {
	margin-bottom: 35px;
	display: block;
}
.footer-button {
	text-decoration: none;
	border-radius: 2px;
	width: 219px;
	height: 50px;
	display: block;
	padding: 16px 10px;
	text-align: center;
}
.main-footer {
	padding: 73px 0;
}
.form {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, top 0.5s;
	width: 960px;
	position: fixed;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -50%);
	z-index: 1;
	padding: 80px 100px;
}
.form.visible {
	top: 50%;
	visibility: visible;
	opacity: 1;
}
.form h2 {
	margin: 0 0 14px;
}
.button-modal-close {
	position: absolute;
	right: 90px;
	top: 78px;
	width: 21px;
	height: 21px;
	background-image: url("../img/close-cross.svg");
	border: none;
	background-color: transparent;
	opacity: 0.3;
}
.button-modal-close:hover, .button-modal-close:focus {
	opacity: 1;
}
.button-modal-close:active {
	opacity: 0.1;
}
.login-form {
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}
.login-form .full-weight {
	width: 100%;
}
.login-form label {
	margin-top: 36px;
	width:360px;
}
.form input, .form textarea {
	display: block;
	margin-top: 13px;
	border: 2px solid #d7dcde;
	border-radius: 2px;
	padding: 14px;
	width: 100%;
}
.login-form .button {
	text-decoration: none;
	border: none;
	border-radius: 2px;
	width: 260px;
	height: 50px;
	display: block;
	padding: 16px 10px;
	text-align: center;
	margin-top: 47px;
}
.form textarea {
	height: 118px;
	resize: none;
}
.busket a {
	position: relative;
}
.busket a::before {
	content: "";
	background-image: url("../img/cart-icon.svg"); 
	position: absolute;
	display: block;
	width: 15px;
	height: 15px;
	left: -42px;
	top: 50%;
	transform: translateY(-50%);
}
.slider-text {
	width: 515px;
}
.slide {
	padding: 80px 0;
	position: relative;
}
.slide img {
	position: absolute;
	right: 0;
	bottom: 0;
}
.slide p {
	max-width: 360px;
}